@font-face {
  font-family: "Inter";
  src: url(./../fonts/Inter/static/Inter-SemiBold.ttf);
}

@font-face {
  font-family: "Inter-Bold";
  src: url(./../fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: "Work-Sans";
  src: url(./../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: white;
}

// =========== FONTS ==============================

h1 {
  font-size: 6.125rem;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.1563rem;
  font-family: "Work-Sans";
}

h2 {
  font-size: 5.1875rem;
  font-weight: 700;
  line-height: 98%;
  letter-spacing: -0.0813rem;
  font-family: "Inter-Bold";
}

p {
  font-size: 0.9875rem;
  font-weight: 400;
  line-height: 187%;
  letter-spacing: -0.025rem;
  font-family: "Work-Sans";
}

.subline {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: -0.0313rem;
  font-family: "Work-Sans";
}

.logo-line1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 80%;
  text-transform: uppercase;
  font-family: "Inter";
}

.logo-line2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 80%;
  text-transform: uppercase;
  font-family: "Inter";
  color: black;
  text-shadow: 1px 0 1px white, -1px 0 1px white, 0 -1px 1px white,
    0 1px 1px white;
}

.btn {
  text-decoration: none;
  color: inherit;
  border: 1px solid white;
  padding: 13px 33px;
  text-align: center;
  font-family: "Work-Sans";
}

.btn:hover {
  background-color: white;
  color: black;
}

.subline {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Work-Sans";
}

.counter {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -0.025rem;
  font-family: "Work-Sans";
}

.fat {
  font-size: 1.8125rem;
  font-weight: 700;
  line-height: 113%;
  letter-spacing: 0.025rem;
  font-family: "Inter";
}

.artist {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.025rem;
  font-family: "Work-Sans";
}

.subline-footer {
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Work-Sans";
}

.text-footer {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.875rem;
  font-family: "Inter";
}

.slide-text {
  font-size: 6.1719rem;
  font-weight: 700;
  line-height: 5.1433rem;
  text-transform: uppercase;
  font-family: "Inter";
}

// =========== HEADER ==============================

.header {
  background-color: black;
  padding: 0 10%;
  text-align: center;

  div {
    span {
      writing-mode: vertical-lr;
    }
  }

  .logo {
    margin-top: 5vh;
    margin-bottom: 10vh;
    .subline {
      padding-bottom: 1vh;
    }
    .logo-line2 {
      padding-bottom: 1.5vh;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25vh;
    padding-bottom: 10vh;
  }
}

.facts {
  background-color: black;
  padding: 0 10%;
  padding-bottom: 10vh;
  header {
    padding-top: 10%;
    max-width: 115ch;
  }

  .facts-number {
    background-image: url(./../img/map.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 5%;
    margin-right: -12%;
  }
}

// =========== MIDDLE ==============================

.middle {
  position: relative;
  .text {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80vh;
    padding: 30vh 0;

    div {
      // max-width: 400px;

      h2 {
        width: 10ch;
      }

      p {
        padding-top: 5%;
        width: 40ch;
      }
    }
  }

  img {
    &:nth-of-type(1) {
      width: 18%;
      position: absolute;
      top: -3%;
      left: 70%;
    }

    &:nth-of-type(2) {
      width: 15%;
      position: absolute;
      top: 7%;
      left: 5%;
    }

    &:nth-of-type(3) {
      width: 15%;
      position: absolute;
      top: 25%;
      right: 0;
    }

    &:nth-of-type(4) {
      width: 18%;
      position: absolute;
      top: 38%;
      left: 25%;
    }

    &:nth-of-type(5) {
      width: 18%;
      position: absolute;
      top: 48%;
      left: 70%;
    }

    &:nth-of-type(6) {
      width: 15%;
      position: absolute;
      bottom: 18%;
      left: 0;
    }

    &:nth-of-type(7) {
      width: 18%;
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }
}

// =========== GOLDENBEAR ==============================

.goldenbear {
  background-color: black;
  padding: 0 10%;
  height: 80vw;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      margin: 15% 0;

      &:nth-of-type(1) {
        width: 1ch;
      }

      &:nth-of-type(2) {
        width: 60ch;
      }

      .counter {
        padding-bottom: 10px;
      }

      .artist {
        padding-top: 15px;
      }
    }
  }

  .picture-effect {
    position: relative;
    display: flex;
    img {
      &:nth-of-type(1) {
        width: 55%;
        z-index: 1;
      }
      &:nth-of-type(2) {
        width: 30%;
        position: absolute;
        top: 20%;
        left: 50%;
        z-index: 2;
      }
    }
  }
}

// =========== POPPYBEAR ==============================

.poppybear {
  background-color: white;
  color: black;
  padding: 0 10%;
  height: 110vw;
  position: relative;
  overflow: hidden;

  .circle {
    width: 30%;
    position: absolute;
    right: -10%;
    top: -10%;
    animation: spin 20s linear 0s infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    img {
      width: 100%;
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      margin-top: 30%;
      margin-bottom: 20%;

      &:nth-of-type(1) {
        width: 1ch;
      }

      &:nth-of-type(2) {
        width: 60ch;
      }

      .counter {
        padding-bottom: 10px;
      }

      .artist {
        padding-top: 15px;
      }
    }
  }

  .picture-effect {
    display: flex;
    justify-content: flex-end;
    position: relative;
    img {
      &:nth-of-type(1) {
        width: 55%;
      }
      &:nth-of-type(2) {
        width: 30%;
        position: absolute;
        top: 20%;
        right: 50%;
      }
    }
  }
}

// =========== FOOTER ==============================

footer {
  background-color: black;
  padding-inline: 10%;
  padding-top: 5%;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;

  .subline-footer {
    padding-bottom: 10px;
  }

  .text-footer {
    max-width: 40ch;
  }

  .btn {
    display: inline-block;
    margin-top: 5vh;
  }

  .footer-legend {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 15px;
      padding-right: 5px;
    }

    .footer-logos {
      img {
        width: 50px;
      }
    }
  }

  .slide {
    background-color: white;
    position: absolute;
    transform: rotate(50deg);
    top: 30%;
    right: -20%;

    .slide-text {
      color: black;
      padding: 10px 0;

      animation: move 5s linear 0s infinite;

      @keyframes move {
        50% {
          transform: translate(200px, 0px);
        }
      }
    }
  }
}
